.logo {
  height: 60px;
  float: left;
}
.clearfix {
    overflow:hidden;
}

.login {
  margin-top: 10vh;
  width: 300px;
}

.login-buttons {
  margin-top: 20px;
}

.registration-buttons {
  margin-top: 20px;

}


.meta-data{
  font-size: 15px;
  font-weight: bold;
}

.content{
  font-size: 17px;

}

.url{
  font-size: 17px;
}

.title{
  font-size: 30px;
  text-align: center;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
padding-top: 0%;
height: 300%;
margin-top: 4%;
}
label {
font-size: 1.5rem;
}